/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

/* Variables */
:root {
    --header-navigation-bg-color: #1ba28b;
    --white-color: #FFFFFF;
}

.login_header {
    background-color: var(--header-navigation-bg-color);
}

form button {
    margin-block-start: 10px;
    width: 100px;
    height: 34px;
    box-shadow: 0px 3px 3px #000;
    background-color: #fff;
    border: 3px solid #000;
}